.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
build/artifacts/
BuildAll_(vc)?(\d*)/

# Various output artifacts
*.aps
*.bak
*.cache
*.chm
*.chw
*.epf
*.exe
*.exp
*.g.cs
*.generated.*
*.idb
*.ilk
*.ipch
*.lastbuildstate
*.lib
*.log
*.manifest
*.meta
*.ncb
*.obj
*.obproj.map
*.opensdf
*.orig
*.pch
*.pdb
*.pgc
*.pgd
*.pidb
*.rej
*.res
*.rsp
*.sbr
*.scc
*.sdf
*.shadow
*.sublime-project
*.sublime-workspace
*.suo
*.svclog
*.tlb
*.tlh
*.tli
*.tlog
*.tmp
*.tmp_proj
*.unsuccessfulbuild
*.user
*.vspscc
*.vssscc
*[sS]urrogated.cs
*_i.c
*_i.h
*_p.c
.builds